@using api.ViewModels.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginViewModel
@{
    var Model = ViewData.Model;
}

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/wwwroot/css/site.css" asp-append-version="true">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-light-grey vh-100">
    <div class="container body-container h-100 center">
          @* <div class="lead text-center">
                <h1>Login</h1>
            </div> *@
          

            <partial name="_ValidationSummary" />


                @if (Model.EnableLocalLogin)
                {
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>Local Account</h2>
                            </div>

                            <div class="card-body">
                                <form asp-route="Login">
                                    <input type="hidden" asp-for="ReturnUrl" />

                                    <div class="form-group">
                                        <label asp-for="Username"></label>
                                        <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input type="password" class="form-control" placeholder="Password"
                                            asp-for="Password" autocomplete="off">
                                    </div>
                                    @if (Model.AllowRememberLogin)
                                    {
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" asp-for="RememberLogin">
                                                <label class="form-check-label" asp-for="RememberLogin">
                                                    Remember My Login
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    <button class="btn btn-primary" name="button" value="login">Login</button>
                                    <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.VisibleExternalProviders.Any())
                {
                    <div class="col-sm-12">
                        <div class="card shadow-sm bg-white rounded p-3">
                            <div class="card-header bg-white border-0 text-center">
                                <h3>Log in</h3>
                            </div>
                            <div class="card-body pt-0">
                                <ul class="list pl-0">
                                    @foreach (var provider in Model.VisibleExternalProviders)
                                    {
                                        <li class="list-item p-0">
                                            <a class="btn shadow-md bg-white w-100" asp-controller="External" asp-action="Challenge"
                                                asp-route-scheme="@provider.AuthenticationScheme"
                                                asp-route-returnUrl="@Model.ReturnUrl">
                                                Continue with @provider.DisplayName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                {
                    <div class="alert alert-warning">
                        <strong>Invalid login request</strong>
                        There are no login schemes configured for this request.
                    </div>
                }
            </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>